.app {
  margin: 0;
display: flex;
  flex-direction: column;
  background-color: #DADED4;
  width: max;
  /* background: linear-gradient(45deg, yellow,salmon,skyblue, white); */
  height: fit-content;  
  z-index: 10;

}
