.articleDiv {
  position: relative;
  background: white;

  padding: 10px 10px 10px 10px;
  border-radius: 2%;
  box-shadow: 10px 10px 5px grey;
  text-align: center;
}
.articleDiv header h1 {
  text-align: center;
  /* text-emphasis:open; */
}
.mainPara {
  text-align: left;
  font-size: 95%;
  text-indent: 1ch;
  word-spacing: 3px;
}
.pPara {
  text-align: left;
  font-size: 95%;
  text-indent: 1ch;
  word-spacing: 3px;
}
.mainDiv {
  /* background: linear-gradient(2deg,grey,black); */
  font-family: "Inconsolata", serif;
  position: relative;
  left: 7.5%;
  top: 2.5%;
  width: 80%;
  padding: 20px 20px 20px 20px;
  display: grid;
  row-gap: 15px;
  border-radius: 2%;
    overflow:scroll;
  height: 90vh;
}
.date {
  line-height: 0.5;
  text-align: center;
}
.date span {
  display: inline-block;
  position: relative;
}
.date span:before,
.date span:after {
  content: "";
  position: absolute;
  height: 5px;
  border-bottom: 1px solid black;
  border-top: 1px solid grey;
  top: 0;
  width: 100%;
}
.date span:before {
  right: 100%;
  margin-right: 15px;
}
.date span:after {
  left: 100%;
  margin-left: 15px;
}
