.mainDiv {
  height: auto;
  width: 320px;
  /* border-radius: 10%; */
  z-index: 100000;
  /* padding-left:  10px; */
  padding: 20px 20px;
  box-shadow: 12px 12px 24px 0 rgba(0, 0, 0, 0.2),
    -12px -12px 24px 0 rgba(255, 255, 255, 0.5);
  -moz-box-shadow: 12px 12px 24px 0 rgba(0, 0, 0, 0.2),
    -12px -12px 24px 0 rgba(255, 255, 255, 0.5);
  -ms-box-shadow: 12px 12px 24px 0 rgba(0, 0, 0, 0.2),
    -12px -12px 24px 0 rgba(255, 255, 255, 0.5);
  }
.trackList {
  list-style-type: none;
  width: 90%;
  z-index: 100000;
  padding-left: 10px;
  padding: 5px 10px;
  position: relative;
  border-radius: 5%;
  font-family: "Inconsolata", serif;
  
    box-shadow: 6px 6px 12px 0 rgba(0, 0, 0, 0.2),
    -6px -6px 12px 0 rgba(255, 255, 255, 0.5);
  /* background: linear-gradient(10deg, grey, white); */
  /* border: 1px solid #dddddd; */
}
.elapsedTime{
  color: white;
  border-radius: 10%;
}
.totalTime{
  color: white;
  border-radius: 10%;
}
.listName {
  border: none;
  padding-left: 30%;
  width: auto;
  z-index: 10000;
  font-size: 120%;
  margin: 5px;

  border-radius: 2%;
  border-bottom: 1px solid;
}

.buttons {
  background-color:inherit;
  position: relative;
  border-radius: 5%;
  padding: 10px 10px;
  z-index:10000;
  /* background: linear-gradient(45deg, black, white); */
}
.insideB {
  position: relative;
  display:grid;
  grid-template-columns:  auto auto auto auto;
  gap:20px;
  border-radius: 5%;
}
.timebar {
  font-family: "Inconsolata", serif;
  width: 95%;
  padding: 4px 10px;
}
.playButton {
    background-color:inherit;
  z-index: 100000;
  border-radius: 10%;
}
.pauseButton {
    background-color:inherit;
  z-index: 100000;
  border-radius: 10%;
   box-shadow: 6px 6px 12px 0 rgba(0, 0, 0, 0.2),
    -6px -6px 12px 0 rgba(255, 255, 255, 0.5);
}
.prevButton {
    background-color:inherit;
  z-index: 100000;
  border-radius: 10%;
   box-shadow: 6px 6px 12px 0 rgba(0, 0, 0, 0.2),
    -6px -6px 12px 0 rgba(255, 255, 255, 0.5);
}
.stopButton {
    background-color:inherit;
  z-index: 100000;
  border-radius: 10%;
   box-shadow: 6px 6px 12px 0 rgba(0, 0, 0, 0.2),
    -6px -6px 12px 0 rgba(255, 255, 255, 0.5);
}
.nextButton {
    background-color:inherit;
  z-index: 100000;
  border-radius: 10%;
   box-shadow: 6px 6px 12px 0 rgba(0, 0, 0, 0.2),
    -6px -6px 12px 0 rgba(255, 255, 255, 0.5);
}
.nextButton:hover {
    box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.2),
    inset -6px -6px 10px 0 rgba(255, 255, 255, 0.5);
}
.prevButton:hover {
  box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.2),
    inset -6px -6px 10px 0 rgba(255, 255, 255, 0.5);
}
.stopButton:hover {
  box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.2),
    inset -6px -6px 10px 0 rgba(255, 255, 255, 0.5);
}
.pauseButton:hover {
  box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.2),
    inset -6px -6px 10px 0 rgba(255, 255, 255, 0.5);
}
.playButton:hover {
  box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.2),
    inset -6px -6px 10px 0 rgba(255, 255, 255, 0.5);
}


