.closeButton {
  z-index: 3000;
  position: relative;
  cursor: pointer;

  /* top:12%; */
  width:10%;
  left: 1%;
  background-color: inherit;
  right: 100%;
  border-radius: 10%;
}
.mainList {
  background-color: inherit;
  color: black;
  /* top: 50%; */
  position: absolute;
  display: grid;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -120%);
  padding: 20px;
  height: 30px;
  width: inherit;
  align-items: center;
  text-align: center;
  grid-template-columns: auto auto auto auto;
  margin-top: 10px;
  gap: 40px;
  z-index: 3000;
}

.draw_border {
  background-color: inherit;
  
  box-shadow: 8px 8px 16px 0 rgba(0, 0, 0, 0.2),
    -2px -2px 16px 0 rgba(255, 255, 255, 0.2);
  -moz-box-shadow: 8px 8px 16px 0 rgba(0, 0, 0, 0.2),
    -2px -2px 16px 0 rgba(255, 255, 255, 0.2);
  -ms-box-shadow: 8px 8px 16px 0 rgba(0, 0, 0, 0.2),
    -2px -2px 16px 0 rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: 8px 8px 16px 0 rgba(0, 0, 0, 0.2),
    -2px -2px 16px 0 rgba(255, 255, 255, 0.2);
  align-items: center;
  position: relative;
  padding: 2.3rem;
  font-size : small;
  /* overflow: hidden; */
  border-radius: 10px;
  z-index: 3000;
}

.draw_border:hover {
  box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.2),
    inset -6px -6px 10px 0 rgba(255, 255, 255, 0.5);
  -moz-box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.2),
    inset -6px -6px 10px 0 rgba(255, 255, 255, 0.5);
  -ms-box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.2),
    inset -6px -6px 10px 0 rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.2),
    inset -6px -6px 10px 0 rgba(255, 255, 255, 0.5);
}

.draw_border {
  display: flex;
  cursor: pointer;
  height: 20px;
  line-height: 1.5;
  font: 700 1.2rem "Inconsolata", sans-serif;
  padding: 1.3em;
  letter-spacing: 0.05rem;
}

.picture {
  height: 95vh;
  width: 95vw;
}
.Picture {
  display: flex;
  max-width: 100vw;
  max-height: 100vh;
  top: 2%;
  left: 2%;
  position: absolute;
  z-index: 50000;
}
.Proj{
  display: flex;
  max-width: 100vw;
  max-height: 100vh;
  top: 2%;
  left: 2%;
  position: absolute;
  z-index: 50000;
 animation:alert-success 0.5s 1;
    -webkit-animation:alert-success 0.5s 1;
    animation-fill-mode: forwards;

    animation-delay:2s;
    -webkit-animation-delay:1s; /* Safari and Chrome */
    -webkit-animation-fill-mode: forwards;

} 

@keyframes alert-success{
    0%   {opacity: 1;}
    70%  {opacity: 1;}
    90% {opacity: 1;-webkit-transform: translateY(0px);}
    100% {opacity: 0;-webkit-transform: translateY(-30px);}
}
.blogMain{
  /* display: flex; */
  max-width: 100vw;
  max-height: 100vh;
  top: 1%;
  left: 2%;
  position: absolute;
  z-index: 50000;
}
.projMain{
  /* display: flex; */
  max-width: 100vw;
  max-height: 100vh;
  top: 1%;
  left: 2%;
  position: absolute;
  z-index: 50000;
}
.musicPop {
  position: absolute;
  top: 60vh;
  padding-left: 75%;
  width: 320px;
  border-bottom-left-radius: 20%;
  border-bottom-right-radius: 20%;
  /* border-top-left-radius: 10%; */

  z-index: 10000000;
}
