.closeButton {
  z-index: 3000;
  position: relative;
  /* top:12%; */
  left: 92%;

  right: 100%;
  border-radius: 10%;
}
.mainList {
	background-color: inherit;
	color:black;
  top: 50%;
  position: relative;
  display: grid;
  padding: 10px;
  height: 30px;
  width: auto;
  text-align: center;
  grid-template-columns: auto auto auto auto;
  margin-top: 10px;
  animation-name: listin;
  animation-duration: 8s;
  animation-fill-mode: both;
  gap: 40px;
  z-index: 3000;
  animation-timing-function: ease-in-out;
}
@keyframes listin {
  0% {
    opacity: 0;
    transform: scale(0.6) translateY(-8px);
  }

  100% {
    opacity: 100%;
  }
}
.draw_border {
		background-color: inherit;
  box-shadow: 8px 8px 16px 0 rgba(0, 0, 0, 0.2),
    -2px -2px 16px 0 rgba(255, 255, 255, 0.2);
  -moz-box-shadow: 8px 8px 16px 0 rgba(0, 0, 0, 0.2),
    -2px -2px 16px 0 rgba(255, 255, 255, 0.2);
  -ms-box-shadow: 8px 8px 16px 0 rgba(0, 0, 0, 0.2),
    -2px -2px 16px 0 rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: 8px 8px 16px 0 rgba(0, 0, 0, 0.2),
    -2px -2px 16px 0 rgba(255, 255, 255, 0.2);
  align-items: center;
  position: relative;
  /* padding: 2.3rem; */
  overflow: hidden;
  border-radius:10px;
  z-index: 3000;
}

.draw_border:hover {
  box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.2),
    inset -6px -6px 10px 0 rgba(255, 255, 255, 0.5);
  -moz-box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.2),
    inset -6px -6px 10px 0 rgba(255, 255, 255, 0.5);
  -ms-box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.2),
    inset -6px -6px 10px 0 rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.2),
    inset -6px -6px 10px 0 rgba(255, 255, 255, 0.5);
}

.draw_border {
  display: flex;
  cursor: pointer;
  height: 20px;
  line-height: 1.5;
  font: 700 1.2rem "Inconsolata", sans-serif;
  padding: 1.3em;
  letter-spacing: 0.05rem;
}

.picture {
  height: 95vh;
  width: 95vw;
}
.Picture {
  max-width: 100vw;
  max-height: 100vh;
  top: -135%;
  left: 2%;
  position: absolute;
  z-index: 50000;
}
.musicPop {
  /* opacity:80%; */
  left: 65vw;
  top: 20%;
  width: 320px;

  border-bottom-left-radius: 20%;
  border-bottom-right-radius: 20%;
  border-top-left-radius: 10%;
  position: sticky;
  z-index: 10000000;
  /* background: linear-gradient(2deg,  black,black,white,white); */
}
